body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #f7f9fc, #e0f7fa);

  color: #333;
}


h1 {
  font-size: 3rem;
  color: #004d40;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #555;
}

.btn-success {
  background-color: #00796b;
  border-color: #00796b;
  font-weight: bold;
}

.btn-success:hover {
  background-color: #004d40;
  border-color: #004d40;
}




